<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.esca">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.FoodFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.escaWS.recipes.RetrieveAllRecipes"/>

        <provider
            android:name=".dbRelated.recipe.RecipesContentProvider"
            android:authorities="me.esca.recipes.contentprovider"
            android:exported="false">
        </provider>

        <provider
            android:name=".dbRelated.cook.CooksContentProvider"
            android:authorities="me.esca.cooks.contentprovider"
            android:exported="false">
        </provider>

        <provider
            android:name=".dbRelated.image.ImagesContentProvider"
            android:authorities="me.esca.images.contentprovider"
            android:exported="false">
        </provider>

    </application>

</manifest>
